

.contenedorCondiciones{
    /* display: flex;
    align-items: center; */
}
.contenedorRadioNivel{
    margin: 0px 25px;
}

.contenedorBotonesFormCondiciones{
    display: flex;
}
.contenedorDificultad{
    display: flex;
    color: aqua
}
.botonFormCondiciones{
    margin: 30px 15px;
    width: 100%;
}

.labelDificultad{
    padding: 10px;
    /* display: flex;
    justify-content: flex-start; */
    border: 1 solid red
}

.inputDificultad{
    /*  display: flex;
    justify-content: center; */
    border: 1 solid red;
    /* text-align: center; */
}


.contenedorTemas{
    padding: 20px;
    text-align: center;
}

.selectTema{
    width: 100%;
    background-color: #fff;
    outline: none;
}

