

.contenedorCondiciones{
    width: 100%;
}

.contenedorDificultad{
    width: 100%;
    display: flex;
    justify-content: center;
    color: aqua;
}

.contenedorRadioNivel{
    text-align: center;
    width: 25%;
    margin-top: 5%;
}
.contenedorBotonesFormCondiciones{
    display: flex;
    margin-top: 5%;
}

.botonFormCondiciones{
    margin: 25px 3%;
    width: 45%;
}

.labelDificultad{
    padding: 8%;
    /* display: flex;
    justify-content: flex-start; */
}

.inputDificultad{
    /*  display: flex;
    justify-content: center; */
    /* text-align: center; */
}

.contenedorTemas{
    width: 100%;
    padding: 10px 10%;
    text-align: center;
    margin-top: 5%;
}

.selectTema{
    width: 100%;
    outline: none;
}

@media screen and (max-width: 480px) {
    .contenedorBotonesFormCondiciones{
        flex-direction: column;
        align-items: center;
    }
    .botonFormCondiciones{
        width: 75%;
        margin: 3%;
    }
    .contenedorRadioNivel,
    .contenedorTemas, 
    .contenedorBotonesFormCondiciones
    {
        margin-top: 10%;
    }
    
}