.contenedorTectoCantInt{
    width: 100%;
}


.textoCantInt{
    margin: 15px 0;
    text-align: center;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 10px;
    padding: 10px;
}

.numCantInt{
    display: block;
}