.boton{
    margin: 18px;
    font-size: 40px;
}

.contenedorHome{
    display: flex;
    align-items: center;
}
.contenedorTituloEnHome{
    margin: 0px 30px;
}

@media screen and (max-width: 480px) {
    .contenedorHome{
        flex-direction: column;
    }
}