.ficha{
    height: 95px;
    width: 95px;
    border-radius: 8px;
   /*  border: 4px solid #fff; */
    text-align: center;
    margin: 7px;
    background-color: #ccc;
}


#imgFicha {
    width: 100%;
    height: 100%;    
}


.borde-white{
    border: 4px solid white;
}
.borde-red{
    border: 4px solid red;
}
.borde-orange{
    border: 4px solid orange;
}
.borde-yellow{
    border: 4px solid yellow;
}
.borde-black{
    border: 4px solid black;
}
.borde-green{
    border: 4px solid green;
}
.borde-fuchsia{
    border: 4px solid fuchsia;
}
.borde-deepskyblue{
    border: 4px solid deepskyblue;
}
.borde-deeppink{
    border: 4px solid deeppink;
}
.borde-blue{
    border: 4px solid blue;
}
.borde-lime{
    border: 4px solid lime;
}