

.contenedorFichas{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background: #006;
}

.ficha{
    height: 120px;
    width: 120px;
    border-radius: 8px;
    border: 4px solid #fff;
    text-align: center;
    margin: 10px;
    background-color: #ccc;
}

.imgFicha {
    width: 100%;
    height: 100%;    
}