
.contenedorReloj{
    width: 180px;
}

.reloj{
    height: 53px;
    margin: 15px 0;
    text-align: center;
    padding: 3px;
    color: aqua;
    font-size: 30px;
    border: 1px solid aqua;
    border-radius: 10px;
}