



.contenedorGanaste{
    width: 500px;
    height: 320px;
    padding: 40px;
    margin: auto;
    background-color: rgba(0, 0, 0, .3);
    border: 10px double aqua  ;
    border-radius: 20px;
    /* background-color: rgba(40, 40, 40, 0.4); */

}

.tituloGanaste{
    text-align: center;
    color: rgb(13,110,253);
    font-size: 35px;
}



.contenedorBotonesGanaste{
    display: flex;
    justify-content: space-evenly;
}