.contenedor{
    background: #006;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.contenedorTemas{
    padding: 20px;
    text-align: center;
}

.contenedorDificultad{
    display: flex;
}

.contenedorCondiciones{
    /* display: flex;
    align-items: center; */
}

.labelDificultad{
    padding: 10px;
    /* display: flex;
    justify-content: flex-start; */
    border: 1 solid red
}

.inputDificultad{
   /*  display: flex;
    justify-content: center; */
    border: 1 solid red;
    /* text-align: center; */
}

.selectTema{
    width: 100%;
    background-color: #fff;
    outline: none;
}

.boton{
    margin: 18px;
    font-size: 40px;
}

.contenedorFichas{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    /* width: 75%; */
    margin-left: 60px;
}

.contenedorBotonesEnPartida{
    flex-flow: column;
}

.ficha{
    height: 95px;
    width: 95px;
    border-radius: 8px;
    border: 4px solid #fff;
    text-align: center;
    margin: 7px;
    background-color: #ccc;
}

.tituloMemotes{
    color: #aaa;
    text-align: center;
    padding: 20px 0;
}
/* .animacionGiro{
    animation: giro-de-ficha 1s linear
} */

.contenedorDificultad{
    color: aqua
}

#imgFicha {
    width: 100%;
    height: 100%;    
}


.transparente{
    display: none;
 /*    animation: transparentar 1s linear;
    animation-delay: 3s; */
}

.opaca{
    display: block;
   /*  animation: opacar 1s linear;
    animation-delay: 3s; */
}

.descubierta{
    opacity: .5;
    display: block;
}





/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
    }  
} */
  
@keyframes giro-de-ficha{
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(180deg);
    }
}

@keyframes opacar{
    from {
        display: none;
    }
    to {
        display: block;
    }
}

@keyframes transparentar{
    from {
      display: block;
    }
    to {
      display: none;
    }
}




.contenedorGanaste{
    width: 400px;
    height: 180px;
    padding: 40px;
    margin: auto;
    background-color: rgba(255, 255, 255, .8);
    border: 2px solid #000;
    border-radius: 20px;
    /* background-color: rgba(40, 40, 40, 0.4); */

}

.tituloGanaste{
    text-align: center;
    color: rgb(13,110,253);
    font-size: 35px;
}

.botonEnPartida{
    padding: 10px;
    margin: 10px;
    
}

.contenedorBotonesGanaste{
    display: flex;
    justify-content: space-evenly;
}