.contenedorBotonesEnPartida{
    flex-flow: column;
}

.botonEnPartida{
    padding: 10px;
    margin: 10px;
}


.contenedorFichas{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    /* width: 75%; */
    margin-left: 60px;
}


.ficha{
    height: 95px;
    width: 95px;
    border-radius: 8px;
    border: 4px solid #fff;
    text-align: center;
    margin: 7px;
    background-color: #ccc;
}


#imgFicha {
    width: 100%;
    height: 100%;    
}
