

.contenedorFormNombre{
    width: 40%;
    height: 225px;
    padding: 1%;
    margin: .8%;
    background-color: rgba(0, 0, 0, .3);
    border: 10px double aqua  ;
    border-radius: 20px;
}    

.contenedorBolitasColores{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}    


.contenedorSwitchYTituloEnForm{
    display: flex;
}    


.tituloNombreEnForm{
    /*  background-color:#000; */
    font-size: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
    margin-bottom: 3%;
}    

.inputNombre{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid aqua;
    color: aqua;
    width: 100%;
    margin-bottom: 3%;
}    

.inputNombre:focus{
    background-image: linear-gradient(transparent, rgba(0,255,255,.2));
}    

.inputNombre::placeholder{
    color: aqua;
}    

.textoEnFormNombre{
    color: white;
    text-align: center;
    margin: 2% 0px;
}    

.icono{
    font-size: 200%;
    color: white;
}    


.itemBarraColor{
    border-radius: 50%;
    border: 2px solid white;
    width: 35px;
    height: 35px;
    margin: 5px;
}    



@media screen and (max-width: 480px) {
    .contenedorFormNombre{
        width: 95%;
        padding: 5%;
        height: 270px;
        margin-bottom: 7%;
    }
    .contenedorBolitasColores, .textoEnFormNombre{
        width: 75%;
        margin: auto;
        flex-wrap: wrap;
        margin-bottom: 3%;
    }
    .contenedorSwitchYTituloEnForm{
        display: flex;
        margin-bottom: 3%;
    }
    .inputNombre{
        margin-bottom: 5%;
    }
    
    
}

.itemBarraColor-red{
    background-color: red;
}

.itemBarraColor-fuchsia{
    background-color: fuchsia;
}

.itemBarraColor-green{
    background-color: green;
}

.itemBarraColor-yellow{
    background-color: yellow;
}

.itemBarraColor-orange{
    background-color: orange;
}

.itemBarraColor-deeppink{
    background-color: deeppink;
}

.itemBarraColor-blue{
    background-color: blue;
}

.itemBarraColor-deepskyblue{
    background-color: deepskyblue;
}

.itemBarraColor-lime{
    background-color: lime;
}
.itemBarraColor-black{
    background-color: black;
}
