.contenedorTectoCantInt{
    width: 180px;
    order: 3;
}


.textoCantInt{
    height: 53px;
    margin: 15px 0;
    text-align: center;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}


@media screen  and (max-width: 480px){
    .contenedorTectoCantInt{
        order: 2;
        margin: 0 7px;
    }
}