

.contenedorModoJuego{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contenedorBotonesModoJuego{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 75%;
}

.botonModo{
    width: 45%;
    margin: 0px 5%;
}


@media screen and (max-width: 550px){
    
    .contenedorBotonesModoJuego{
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    
    .botonModo{
        width: 90%;
        margin: 20px 10%;
    }
}